.invoices-contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.invoice-contenedor {
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

p{
    max-width: 225px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
}

button {
    margin-right: 1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

div {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.table_list_invoices {
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
}
  
.list_invoices-button-container {
  padding-bottom: 16px;
}
  
.list_invoices-button + .list_invoices-button {
  margin-left: 8px;
}