

<app-list-general [list_invoices_general] = "invoices_child">
    
    <ng-container contenido>
        <h3>List of Invoices - table1</h3>
        <div class="invoices-contenedor">
            <table>
                <tr>
                    <th>Index</th>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Address</th>
                    <th>Number Invoice</th>
                    <th>Date Time</th>
                    <th>Created At</th>
                </tr>
                <tr *ngFor="let i of invoices_child; let index = index">            
                    <td>{{index}}</td>
                    <td>{{i.idheader}}</td>
                    <td>{{i.companyname | titlecase}}</td>
                    <td>{{i.address | titlecase}}</td>
                    <td>{{i.numberinvoice}}</td>
                    <td>{{i.datetime | date}}</td>
                    <td>{{i.createdat | date}}</td>
                </tr>
            </table>
        </div>
    </ng-container>  
    

    <ng-container contenido>
        <h3>List of Invoices - table2</h3>
        
         <div class="list_invoices-button-container">
            <button mat-raised-button (click)="addInvoice()" class="list_invoices-button">
              Add new invoice
            </button>
            <button
                mat-raised-button
                (click)="removeInvoice()"
                class="list_invoices-button">
              Delete invoice
            </button>
          </div>        

          <table mat-table [dataSource]="invoices_child" class="mat-elevation-z8 table_list_invoices">
            
            <ng-container matColumnDef="idheader">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let element">{{element.idheader}}</td>
            </ng-container>
            
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef>Company Name</th>
              <td mat-cell *matCellDef="let element">{{element.companyname}}</td>
            </ng-container>
                      
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef="let element">{{element.address}}</td>
            </ng-container>
          
            <ng-container matColumnDef="numberinvoice">
                <th mat-header-cell *matHeaderCellDef>Nº invoice</th>
                <td mat-cell *matCellDef="let element">{{element.numberinvoice}}</td>
            </ng-container>

            <ng-container matColumnDef="datatime">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.datetime | date}}</td>
            </ng-container>
                      
            <ng-container matColumnDef="createdat">
              <th mat-header-cell *matHeaderCellDef>Created at</th>
              <td mat-cell *matCellDef="let element">{{element.createdat | date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </ng-container> 

</app-list-general>


<!--
<p>id - company - address</p>
<div *ngFor="let i of invoices_child">
    <div>
        <p>{{i.idheader}} - {{i.companyname | titlecase}} - {{i.address | titlecase}}</p>
    </div>
</div>
-->

     
