<h2>List of Invoices</h2>

<app-list-general [list_invoices_general] = "invoices_child">
    <ng-container contenido>
        <div class="invoices-contenedor">
            <table>
                <tr>
                    <th>Index</th>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Address</th>
                </tr>
                <tr *ngFor="let i of invoices_child; let index = index">            
                    <td>{{index}}</td>
                    <td>{{i.idheader}}</td>
                    <td>{{i.companyname | titlecase}}</td>
                    <td>{{i.address | titlecase}}</td>
                </tr>
            </table>
        </div>
    </ng-container>    
</app-list-general>


<!--
<p>id - company - address</p>
<div *ngFor="let i of invoices_child">
    <div>
        <p>{{i.idheader}} - {{i.companyname | titlecase}} - {{i.address | titlecase}}</p>
    </div>
</div>
-->

     
