.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mat-form-field {
  width: 300%;
  max-width: 400px;
  margin: 10px 0;
}

.line-break {
  height: 10px;
  width: 100%;
}

